<div class="comment" id="{comment-id}">
	<!-- <div class="com_info"> -->
		<!-- <div class="com_user">
			<b class="name">{author}</b>
			<span class="grey">
				от {date}
			</span>
		</div> -->
		<!-- <div class="meta">
			
			<ul class="left">
				[not-group=5] 
				<li class="edit_btn" title="Редактировать">[com-edit]<i title="Редактировать">Редактировать</i>[/com-edit]</li>
				<li class="del" title="Удалить">[com-del]<svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg><span class="title_hide">Удалить</span>[/com-del]</li>
				<li class="mass">{mass-action}</li>
				[/not-group]
			</ul>
		</div> -->
	<!-- </div> -->
	<div class="com_content">
		<!-- [available=lastcomments|search]<h4 class="title">{news_title}</h4>[/available] -->
		
		<div class="text">{comment}</div>
	</div>
</div>