@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap');

body{
    font-family: 'Noto Sans SC', sans-serif;
    padding: 0;
    margin: 0;
}
a:hover {
    text-decoration: none !important;
}
.container {
    position: relative;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(5, 102, 141, 0.7); 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #05668D; 
  }
  
nav.navbar {
    & .navbar-toggler {
        border-color: #05668D;
        transition: all .15s ease-in-out;
        &:focus {
            outline: none !important;
        }
        & svg {
            fill: #05668D;
        }
        &[aria-expanded="true"] {
            background-color: #05668D;
            transition: all .15s ease-in-out;
            & svg {
                transition: all .15s ease-in-out;
                fill: #fff;
            }
        }
    }
    & ul.navbar-nav {
        @media(max-width: 768px) {
            align-items: center;
        }
        & li.nav-item {
            &:hover {
                & a.nav-link {
                    color: #05668D !important;
                    transition: all .15s linear;
                }
            }
            & a.nav-link {
                transition: all .15s linear;
                font-family: 'Noto Sans SC', sans-serif;
                font-style: normal;
                text-transform: capitalize;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: #000;
            }
            & .nav-active {
                & a.nav-link {
                    color: #05668D;
                }
            }
        }
    }
}

#topcarousel {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 549px;
    z-index: -1;
    overflow: hidden;
    @media(max-width: 768px){
        height: 256px;
    }
    & .carousel-inner {
        position: relative;
        height: 100%;
        & .inner-slider {
            filter: brightness(0.8);
        }
        & .carousel-indicators {
            position: unset;
            top: unset;
            left: unset;
            bottom: unset;
            right: unset;
            margin-left: auto;
            margin-top: -100px;
            width: fit-content;
            z-index: 1;
            margin: 0;
            justify-content: flex-end;
            align-items: flex-end;
            flex-flow: column;
            & li {
                width: 11px;
                height: 11px;
                border-radius: 50%;
                border: none;
                background: rgba(5, 102, 141, 0.36);
                margin-bottom: 11px;
                &.active{
                    background: rgba(5, 102, 141, 1);
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        & .block-on-top-carousel {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            left: 50%;
            z-index: 1;
            & h1 {
                display: block;
                font-family: 'Noto Sans SC', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 49px;
                color: #FFFFFF;
            }
            & span {
                display: block;
                margin: 14px 0 17px;
                font-family: 'Noto Sans SC', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #FFFFFF;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            }
            & .top-carousel-button {
                z-index: 23;
                display: block;
                padding: 16px 42px;
                width: max-content;
                background: rgba(5, 102, 141, 0.36);
                border-radius: 5px;
                font-family: 'Noto Sans SC', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: #fff;
                transition: all .15s linear;
                &:hover {
                    transition: all .15s linear;
                    background: rgba(5, 102, 141, 1);
                    color: #FFF;
                }
            }
        }
    }
    & .carousel-item{
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// blokc-headline
.block-headline {
    position: relative;
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    & h1.primary_title {
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 46px;
        text-align: center;
        color: #05668D;
    }
    & span.primary_text {
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 26px;
        text-align: center;
        color: #A9A9A9;
    }
}

.bg_light_fluid {
    width: 100%;
    padding: 80px 0;
    background-color: #F4F7FD;
}

.top_tours_container {
    display: flex;
    // width: 100vw;
    overflow: hidden;
}

// top_card
.top_travel_card {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 420px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px 10px 30px;
    & .top_travel_card_cover {
        position: relative;
        width: 100%;
        height: 208px;
        transition: all 0.15s linear;
        &:hover {
            transition: all 0.15s linear;
            & .top_card_details {
                display: block;
                transition: all 0.15s linear;
            }
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
        & .top_card_details {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: none;
            width: max-content;
            background-color: rgba(5, 102, 141, 0.4);
            border: 2px solid #05668D;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 5px 22px;
            font-family: 'Noto Sans SC', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            transition: all 0.15s linear;
        }
    }
    & .top_travel_card_body {
        display: block;
        margin-top: 19px;
        padding: 0 5px;
        & .card_title {
            height: 46px;
        }
        & .card_body {
            height: 65px;
            overflow: hidden;
        }
        & .top_tours_info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
    }
}

.card_title {
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
}

.card_body {
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.price {
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #05668D;
}

.rating_like {
    & a {
        display: flex;
        align-items: stretch;
        & .ignore-select {
            line-height: 1;
        }
        & .ratingtypeplus {
            margin-left: 5px;
            font-family: 'Noto Sans SC', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            color: #FF5555;
        }
    }
    &:focus {
        outline: none !important;
    }
    & a:focus {
        outline: none !important;
    }
}

.top_tours_arrows {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: 100%;
    & div {
        cursor: pointer;
        &.top_tours_prev {
            position: absolute;
            left: -45px;
        }
        &.top_tours_next {
            position: absolute;
            right: -45px;
        }
    }
}

// offers_card
.offer_card {
    position: relative;
    background-color: #FFF;
    border-radius: 4px;
    overflow: hidden;
    display: flex !important;
    padding: 0;
    & .offer_card_cover {
        width: 40%;
        height: 282px;
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    & .offer_card_body {
        position: relative;
        display: block;
        margin-left: 20px;
        padding: 20px 20px 20px 0;
        width: 60%;
        & .offer_category {
            display: block;
            margin-bottom: 24px;
            width: max-content;
            background: rgba(5, 102, 141, 0.4);
            border-radius: 20px;
            padding: 8px 15px;
            font-family: 'Noto Sans SC', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            text-align: right;
            color: #05668D;
            transition: all .15s linear;
            &:hover {
                background-color: #05668D;
                color: #FFF;
                transition: all .15s linear;
            }
        }
        & .offer_card_title {
            font-family: 'Noto Sans SC', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 19px;
            line-height: 26px;
            color: #000000;
        }
        & .offer_card_bottom {
            position: absolute;
            bottom: 20px;
            left: 0;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            padding: 0 20px 0 0;
            & .offer_list {
                display: flex;
                align-items: center;
                & div {
                    margin-right: 30px;
                    & .offer_price {
                        font-family: 'Noto Sans SC', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 19px;
                        line-height: 26px;
                        color: #6E13D6;
                    }
                    & img {
                        margin-right: 7px;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
.special_offer_carousel {
    position: relative;
}
.offer_arrows {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    & div {
        cursor: pointer;
        &.offer_prev {
            position: absolute;
            left: 30px;
        }
        &.offer_next {
            position: absolute;
            right: 60px;
        }
    }
}

// standart card tour
.standart_tour_card {
    position: relative;
    display: block;
    width: 100%;
    height: 395px;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 58px;
    & .standart_card_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        & .standart_card_title {
            font-family: 'Noto Sans SC', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            white-space: nowrap;
            text-transform: capitalize;
            margin-bottom: 0;
            &:hover {
                color: rgba(5, 102, 141, 1);
            }
        }
        & .standart_card_tour_lang {
            display: flex;
            align-items: center;
            font-family: 'Noto Sans SC', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 14px;
            color: #C4C4C4;
            &::before {
                display: inline-block;
                content: url("../images/icons/mdi_language.png");
            }
        }
    }
    & .standart_card_cover {
        width: 100%;
        height: 159px;
        border-radius: 3px;
        overflow: hidden;
        margin: 15px 0;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    & .standart_card_count {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        & div {
            display: flex;
            align-items: center;
            font-family: 'Noto Sans SC', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #000000;
        }
    }
    .standart_tour_information {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 35px;
        padding: 0 15px;
        & .standart-card-information-card {
            display: block;
            text-align: center;
            font-family: 'Noto Sans SC', sans-serif;
            & .this_title {
                display: block;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: #A9A9A9;
            }
            & .this_bottom {
                margin-top: 5px;
                display: block;
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                line-height: 26px;
                color: #000000;
            }
        }
    }
}

.moredetails {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    display: flex;
    align-items: center;
    padding: 6px 33px;
    background: rgba(5, 102, 141, 0.36);
    border-radius: 4px;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    width: max-content;
    transition: all .15s linear;
    & svg {
        margin-left: 6px;
        width: 24px;
        height: 24px;
    }
    &:hover {
        background: rgba(5, 102, 141, 1);
        color: #fff;
        transition: all .15s linear;
    }
}

// all 
.link_category {
    display: block;
    margin-top: 34px;
    width: max-content;
    padding: 18px 84px;
    background: #FFFFFF;
    border: 2px solid rgba(5, 102, 141, 0.36);
    box-sizing: border-box;
    box-shadow: 0px 0px 11px rgba(5, 102, 141, 0.36);
    border-radius: 4px;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    transition: all .15s linear;
    &:hover {
        background-color: rgba(5, 102, 141, 1);
        color: #FFF;
        transition: all .15s linear;
    }
}

.top_tours_carousel {
    & .slick-slide {
        & > div {
            display: flex;
            justify-content: center;
        }
    }
}

// tours news block in main
.standart_news_card {
    position: relative;
    display: block;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 36px;
    height: 378px;
    & .standart_news_card_cover {
        display: block;
        overflow: hidden;
        border-radius: 3px;
        width: 100%;
        height: 159px;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    & .standart_news_card_title {
        display: block;
        margin: 17px 0;
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
    }
    & .standart_card_body {
        display: block;
        height: 48px;
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        overflow: hidden;
        color: #A9A9A9;
    }
    & .info_standart_news_card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
}

// footer
footer {
    display: block;
    width: 100%;
    background-color: #322E2E;
    & .footer_primary {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    & .footer_contact {
        & strong {
            display: block;
            margin-bottom: 7px;
            font-family: 'Noto Sans SC', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #FFFFFF;
        }
        & ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            & li a {
                font-family: 'Noto Sans SC', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 19px;
                color: #FFFFFF;
            }
        }
    }
    & .footer_social {
        & strong {
            display: block;
            margin-bottom: 7px;
            font-family: 'Noto Sans SC', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
            color: #FFFFFF;
        }
        & ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            & li {
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.footer_line {
    position: relative;
    display: block;
    width: 100%;
    border: 1px solid rgba(5, 102, 141, 0.36);
}

.footer_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    & .copyright {
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
    }
    & .crafted {
        display: block;
        background: rgba(28, 28, 28, 0.79);
        border-radius: 4px;
        padding: 12px 22px;
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }
}

// tours full
.full_tours {
    position: relative;
    display: block;
    margin-top: 44px;
}

.full_cover {
    position: relative;
    display: block;
    height: 490px;
    border-radius: 4px;
    overflow: hidden;
    & img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
    }
    & .rating_like {
        position: absolute;
        top: 17px;
        right: 37px;
    }
}

.date {
    display: block;
    width: 100%;
    text-align: center;
    margin: 17px 0;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #A9A9A9;
}

.full_title {
    & h1 {
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: #000000;
    }
}

.price_on_cover {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 1);
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 700;
    padding: 12px 20px;
    font-size: 20px;
    border-radius: 4px 4px 0 0;
}

.we_offer {
    margin-top: 20px;
    & .we-offer-headline {
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #05668D;
    }
    & .offer_item {
        display: flex;
        align-items: center;
        margin-top: 20px;
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #A9A9A9;
        & img {
            margin-right: 10px;
        }
    }
}

.highlight {
    margin-top: 60px;
    & .highlight_headline {
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        text-transform: uppercase;
        color: #05668D;
    }
    & .highlight_body {
        display: block;
        overflow-wrap: break-word;
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        & ul {
            // padding: 0;
            margin: 0;
        }
    }
}

.tours_gallery {
    margin-top: 60px;
    & .gallery_headline{
        font-family: 'Noto Sans SC', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        text-transform: uppercase;
        color: #05668D;
    }
    & .xfieldimagegallery.gallery {
        display: flex;
        flex-flow: wrap;
        margin-top: 23px;
        & img {
            object-fit: cover;
            max-width: 228px;
            width: 100%;
            height: 170px;
            border-radius: 4px;
            border: none;
            margin-top: 15px;
            margin-right: 15px;
            &:nth-child(4n-1) {
                margin-right: 0;
            }
        }
    }
}

.book_types_in_text {
    display: block;
    margin: 0 0 0 15px;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.whatsapp_book {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px 0;
    justify-content: center;
    background-color: #25D366;
    border-radius: 3px;
    & img {
        width: 24px;
        height: 24px;
    }
}

.viber_book {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px 0;
    justify-content: center;
    background-color: #665CAC;
    border-radius: 3px;
    & img {
        width: 24px;
        height: 24px;
    }
}

.facebook_book {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px 0;
    justify-content: center;
    background-color: #4267B2;
    border-radius: 3px;
    & img {
        width: 24px;
        height: 24px;
    }
}

.booking_book {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px 0;
    justify-content: center;
    background-color: rgb(221, 223, 224);
    border-radius: 3px;
    & img {
        width: 70%;
        height: 24px;
        object-position: center;
        object-fit: cover;
    }
}

.book_types {
    align-items: center;
    & .book_types_text {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        & strong {
            font-family: 'Noto Sans SC', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 22px;
        }
    }
}

.comment {
    display: block;
    margin-bottom: 16px;
}

.com_content {
    position: relative;
    display: block;
    background: #F4F7FD;
    border-radius: 4px;
    padding: 16px 18px;
}

.write_recommendation {
    display: block;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FF5555;
}

#comment-editor textarea {
    resize: none;
    background: #F4F7FD;
    border-radius: 5px;
    min-height: 124px;
    height: 100%;
    border: none;
    padding: 14px;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: #322E2E;
}
.ui-form {
    list-style-type: none;
    padding: 0;
}

.btn-big {
    margin-left: auto;
    background: #05668D;
    box-shadow: 0px 1px 1px rgba(5, 102, 141, 0.36);
    border-radius: 4px;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 15px 44px;
}

.form_submit {
    width: max-content;
    margin-left: auto;
}

#travel-content {
    display: flex;
    flex-flow: wrap;
    margin: 0 -15px;
}

.navigation {
    margin: 50px 0;
    // background-color: rgba(5, 102, 141, 0.05);
    padding: 15px 30px;
    border-radius: 3px;
    box-shadow: 0 4px 4px 0 rgba(5, 102, 141, 0.04);
    & .pages {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        & a {
            background-color: rgba(5, 102, 141, 0.36);
            color: #FFF;
            padding: 10px 15px;
            border-radius: 5px;
            margin: 0 3px;
        }
        & span {
            background-color: rgba(5, 102, 141, 1);
            color: #FFF;
            padding: 10px 15px;
            border-radius: 5px;
            margin: 0 3px;
        }
    }
}

#sendmail {
    width: 100%;
}

.or-contact {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 40px;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #000;
    &::before {
        display: inline-block;
        content: '';
        width: 44px;
        height: 0;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        margin-right: 5px;
    }
    &::after {
        display: inline-block;
        content: '';
        width: 44px;
        height: 0;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        margin-left: 5px;
    }
}

.ui-form input, .ui-form textarea {
    background: #F4F7FD;
    border-radius: 5px;
    padding: 18px;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(28, 28, 28, 0.79);
    border: none;
    resize: none;
}

select[name="recip"]{
    width: 100%;
}