@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap");
body {
  font-family: 'Noto Sans SC', sans-serif;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none !important;
}

.container {
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(5, 102, 141, 0.7);
}

::-webkit-scrollbar-thumb {
  background: #05668D;
}

nav.navbar .navbar-toggler {
  border-color: #05668D;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

nav.navbar .navbar-toggler:focus {
  outline: none !important;
}

nav.navbar .navbar-toggler svg {
  fill: #05668D;
}

nav.navbar .navbar-toggler[aria-expanded="true"] {
  background-color: #05668D;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

nav.navbar .navbar-toggler[aria-expanded="true"] svg {
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  fill: #fff;
}

@media (max-width: 768px) {
  nav.navbar ul.navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav.navbar ul.navbar-nav li.nav-item:hover a.nav-link {
  color: #05668D !important;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link {
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

nav.navbar ul.navbar-nav li.nav-item .nav-active a.nav-link {
  color: #05668D;
}

#topcarousel {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 549px;
  z-index: -1;
  overflow: hidden;
}

@media (max-width: 768px) {
  #topcarousel {
    height: 256px;
  }
}

#topcarousel .carousel-inner {
  position: relative;
  height: 100%;
}

#topcarousel .carousel-inner .inner-slider {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#topcarousel .carousel-inner .carousel-indicators {
  position: unset;
  top: unset;
  left: unset;
  bottom: unset;
  right: unset;
  margin-left: auto;
  margin-top: -100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
  margin: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#topcarousel .carousel-inner .carousel-indicators li {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: none;
  background: rgba(5, 102, 141, 0.36);
  margin-bottom: 11px;
}

#topcarousel .carousel-inner .carousel-indicators li.active {
  background: #05668d;
}

#topcarousel .carousel-inner .carousel-indicators li:last-child {
  margin-bottom: 0;
}

#topcarousel .carousel-inner .block-on-top-carousel {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
  z-index: 1;
}

#topcarousel .carousel-inner .block-on-top-carousel h1 {
  display: block;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #FFFFFF;
}

#topcarousel .carousel-inner .block-on-top-carousel span {
  display: block;
  margin: 14px 0 17px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#topcarousel .carousel-inner .block-on-top-carousel .top-carousel-button {
  z-index: 23;
  display: block;
  padding: 16px 42px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: rgba(5, 102, 141, 0.36);
  border-radius: 5px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

#topcarousel .carousel-inner .block-on-top-carousel .top-carousel-button:hover {
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  background: #05668d;
  color: #FFF;
}

#topcarousel .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-headline {
  position: relative;
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

.block-headline h1.primary_title {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #05668D;
}

.block-headline span.primary_text {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  color: #A9A9A9;
}

.bg_light_fluid {
  width: 100%;
  padding: 80px 0;
  background-color: #F4F7FD;
}

.top_tours_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.top_travel_card {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 420px;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 10px 10px 30px;
}

.top_travel_card .top_travel_card_cover {
  position: relative;
  width: 100%;
  height: 208px;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.top_travel_card .top_travel_card_cover:hover {
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.top_travel_card .top_travel_card_cover:hover .top_card_details {
  display: block;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.top_travel_card .top_travel_card_cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.top_travel_card .top_travel_card_cover .top_card_details {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(5, 102, 141, 0.4);
  border: 2px solid #05668D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 22px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.top_travel_card .top_travel_card_body {
  display: block;
  margin-top: 19px;
  padding: 0 5px;
}

.top_travel_card .top_travel_card_body .card_title {
  height: 46px;
}

.top_travel_card .top_travel_card_body .card_body {
  height: 65px;
  overflow: hidden;
}

.top_travel_card .top_travel_card_body .top_tours_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.card_title {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
}

.card_body {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.price {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #05668D;
}

.rating_like a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.rating_like a .ignore-select {
  line-height: 1;
}

.rating_like a .ratingtypeplus {
  margin-left: 5px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FF5555;
}

.rating_like:focus {
  outline: none !important;
}

.rating_like a:focus {
  outline: none !important;
}

.top_tours_arrows {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.top_tours_arrows div {
  cursor: pointer;
}

.top_tours_arrows div.top_tours_prev {
  position: absolute;
  left: -45px;
}

.top_tours_arrows div.top_tours_next {
  position: absolute;
  right: -45px;
}

.offer_card {
  position: relative;
  background-color: #FFF;
  border-radius: 4px;
  overflow: hidden;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 0;
}

.offer_card .offer_card_cover {
  width: 40%;
  height: 282px;
}

.offer_card .offer_card_cover img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.offer_card .offer_card_body {
  position: relative;
  display: block;
  margin-left: 20px;
  padding: 20px 20px 20px 0;
  width: 60%;
}

.offer_card .offer_card_body .offer_category {
  display: block;
  margin-bottom: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: rgba(5, 102, 141, 0.4);
  border-radius: 20px;
  padding: 8px 15px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #05668D;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.offer_card .offer_card_body .offer_category:hover {
  background-color: #05668D;
  color: #FFF;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.offer_card .offer_card_body .offer_card_title {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
}

.offer_card .offer_card_body .offer_card_bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 20px 0 0;
}

.offer_card .offer_card_body .offer_card_bottom .offer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer_card .offer_card_body .offer_card_bottom .offer_list div {
  margin-right: 30px;
}

.offer_card .offer_card_body .offer_card_bottom .offer_list div .offer_price {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 26px;
  color: #6E13D6;
}

.offer_card .offer_card_body .offer_card_bottom .offer_list div img {
  margin-right: 7px;
}

.offer_card .offer_card_body .offer_card_bottom .offer_list div:last-child {
  margin-right: 0;
}

.special_offer_carousel {
  position: relative;
}

.offer_arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.offer_arrows div {
  cursor: pointer;
}

.offer_arrows div.offer_prev {
  position: absolute;
  left: 30px;
}

.offer_arrows div.offer_next {
  position: absolute;
  right: 60px;
}

.standart_tour_card {
  position: relative;
  display: block;
  width: 100%;
  height: 395px;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 58px;
}

.standart_tour_card .standart_card_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.standart_tour_card .standart_card_top .standart_card_title {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  white-space: nowrap;
  text-transform: capitalize;
  margin-bottom: 0;
}

.standart_tour_card .standart_card_top .standart_card_title:hover {
  color: #05668d;
}

.standart_tour_card .standart_card_top .standart_card_tour_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #C4C4C4;
}

.standart_tour_card .standart_card_top .standart_card_tour_lang::before {
  display: inline-block;
  content: url("../images/icons/mdi_language.png");
}

.standart_tour_card .standart_card_cover {
  width: 100%;
  height: 159px;
  border-radius: 3px;
  overflow: hidden;
  margin: 15px 0;
}

.standart_tour_card .standart_card_cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.standart_tour_card .standart_card_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.standart_tour_card .standart_card_count div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.standart_tour_card .standart_tour_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
  padding: 0 15px;
}

.standart_tour_card .standart_tour_information .standart-card-information-card {
  display: block;
  text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
}

.standart_tour_card .standart_tour_information .standart-card-information-card .this_title {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
}

.standart_tour_card .standart_tour_information .standart-card-information-card .this_bottom {
  margin-top: 5px;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
}

.moredetails {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 33px;
  background: rgba(5, 102, 141, 0.36);
  border-radius: 4px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.moredetails svg {
  margin-left: 6px;
  width: 24px;
  height: 24px;
}

.moredetails:hover {
  background: #05668d;
  color: #fff;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.link_category {
  display: block;
  margin-top: 34px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 18px 84px;
  background: #FFFFFF;
  border: 2px solid rgba(5, 102, 141, 0.36);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 11px rgba(5, 102, 141, 0.36);
          box-shadow: 0px 0px 11px rgba(5, 102, 141, 0.36);
  border-radius: 4px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.link_category:hover {
  background-color: #05668d;
  color: #FFF;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.top_tours_carousel .slick-slide > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.standart_news_card {
  position: relative;
  display: block;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 36px;
  height: 378px;
}

.standart_news_card .standart_news_card_cover {
  display: block;
  overflow: hidden;
  border-radius: 3px;
  width: 100%;
  height: 159px;
}

.standart_news_card .standart_news_card_cover img {
  width: 100%;
  height: 100%;
}

.standart_news_card .standart_news_card_title {
  display: block;
  margin: 17px 0;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.standart_news_card .standart_card_body {
  display: block;
  height: 48px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  color: #A9A9A9;
}

.standart_news_card .info_standart_news_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

footer {
  display: block;
  width: 100%;
  background-color: #322E2E;
}

footer .footer_primary {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .footer_contact strong {
  display: block;
  margin-bottom: 7px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

footer .footer_contact ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .footer_contact ul li a {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

footer .footer_social strong {
  display: block;
  margin-bottom: 7px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

footer .footer_social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .footer_social ul li {
  margin-right: 25px;
}

footer .footer_social ul li:last-child {
  margin-right: 0;
}

.footer_line {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid rgba(5, 102, 141, 0.36);
}

.footer_foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer_foot .copyright {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer_foot .crafted {
  display: block;
  background: rgba(28, 28, 28, 0.79);
  border-radius: 4px;
  padding: 12px 22px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.full_tours {
  position: relative;
  display: block;
  margin-top: 44px;
}

.full_cover {
  position: relative;
  display: block;
  height: 490px;
  border-radius: 4px;
  overflow: hidden;
}

.full_cover img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}

.full_cover .rating_like {
  position: absolute;
  top: 17px;
  right: 37px;
}

.date {
  display: block;
  width: 100%;
  text-align: center;
  margin: 17px 0;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #A9A9A9;
}

.full_title h1 {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.price_on_cover {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFFFFF;
  color: black;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 700;
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 4px 4px 0 0;
}

.we_offer {
  margin-top: 20px;
}

.we_offer .we-offer-headline {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #05668D;
}

.we_offer .offer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #A9A9A9;
}

.we_offer .offer_item img {
  margin-right: 10px;
}

.highlight {
  margin-top: 60px;
}

.highlight .highlight_headline {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #05668D;
}

.highlight .highlight_body {
  display: block;
  overflow-wrap: break-word;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
}

.highlight .highlight_body ul {
  margin: 0;
}

.tours_gallery {
  margin-top: 60px;
}

.tours_gallery .gallery_headline {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #05668D;
}

.tours_gallery .xfieldimagegallery.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: 23px;
}

.tours_gallery .xfieldimagegallery.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 228px;
  width: 100%;
  height: 170px;
  border-radius: 4px;
  border: none;
  margin-top: 15px;
  margin-right: 15px;
}

.tours_gallery .xfieldimagegallery.gallery img:nth-child(4n-1) {
  margin-right: 0;
}

.book_types_in_text {
  display: block;
  margin: 0 0 0 15px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.whatsapp_book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  padding: 15px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #25D366;
  border-radius: 3px;
}

.whatsapp_book img {
  width: 24px;
  height: 24px;
}

.viber_book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  padding: 15px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #665CAC;
  border-radius: 3px;
}

.viber_book img {
  width: 24px;
  height: 24px;
}

.facebook_book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  padding: 15px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4267B2;
  border-radius: 3px;
}

.facebook_book img {
  width: 24px;
  height: 24px;
}

.booking_book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  padding: 15px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dddfe0;
  border-radius: 3px;
}

.booking_book img {
  width: 70%;
  height: 24px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.book_types {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book_types .book_types_text {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.book_types .book_types_text strong {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 22px;
}

.comment {
  display: block;
  margin-bottom: 16px;
}

.com_content {
  position: relative;
  display: block;
  background: #F4F7FD;
  border-radius: 4px;
  padding: 16px 18px;
}

.write_recommendation {
  display: block;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FF5555;
}

#comment-editor textarea {
  resize: none;
  background: #F4F7FD;
  border-radius: 5px;
  min-height: 124px;
  height: 100%;
  border: none;
  padding: 14px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #322E2E;
}

.ui-form {
  list-style-type: none;
  padding: 0;
}

.btn-big {
  margin-left: auto;
  background: #05668D;
  -webkit-box-shadow: 0px 1px 1px rgba(5, 102, 141, 0.36);
          box-shadow: 0px 1px 1px rgba(5, 102, 141, 0.36);
  border-radius: 4px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 15px 44px;
}

.form_submit {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

#travel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 0 -15px;
}

.navigation {
  margin: 50px 0;
  padding: 15px 30px;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(5, 102, 141, 0.04);
          box-shadow: 0 4px 4px 0 rgba(5, 102, 141, 0.04);
}

.navigation .pages {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.navigation .pages a {
  background-color: rgba(5, 102, 141, 0.36);
  color: #FFF;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 3px;
}

.navigation .pages span {
  background-color: #05668d;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 3px;
}

#sendmail {
  width: 100%;
}

.or-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 40px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #000;
}

.or-contact::before {
  display: inline-block;
  content: '';
  width: 44px;
  height: 0;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin-right: 5px;
}

.or-contact::after {
  display: inline-block;
  content: '';
  width: 44px;
  height: 0;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin-left: 5px;
}

.ui-form input, .ui-form textarea {
  background: #F4F7FD;
  border-radius: 5px;
  padding: 18px;
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(28, 28, 28, 0.79);
  border: none;
  resize: none;
}

select[name="recip"] {
  width: 100%;
}
/*# sourceMappingURL=app.css.map */