<div class="bg_light_fluid">
    <div class="container">
        <div class="row">
            {custom category="3" template="component/standart_tour_card" available="main" from="0" limit="12" order="date" sort="desc" cache="no"}
        </div>
        <a href="#" class="link_category mx-auto">All Tours</a>
    </div>
</div>